{%extends "base.html" %}
{%load static %}

{%block Contenido%}
                
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        
                        <div class = "col">
                            <span class="float-left"> <h4 class="m-0 font-weight-bold" style="color:#9B2242">Cambio de Contraseña</h4></span>
                        </div>
                        
                    </div>

                    <div class="card-body">

                        <form method="POST"  >
                            {%csrf_token%}
                            {{form.as_p}}

                            <input class="btn btn-primary" type="submit" value="Cambiar Password">

                        </form>
        
                    </div> 
                </div>   
            </div>
        </div>

    </main>

{%endblock Contenido%}