{%extends "base.html" %}
{%load static %}

{%block Contenido%}
                
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        
                        <div class = "col">
                            <span class="float-left"> <h4 class="m-0 font-weight-bold" style="color:#9B2242">Contraseña Actualizada !!</h4></span>
                        </div>
                        
                    </div>

                    <div class="card-body">

                        <h2>Su contraseña ha sido cambiada exitosamente !!</h2>
        
                    </div> 
                </div>   
            </div>
        </div>

    </main>

{%endblock Contenido%}